body{
  background: white;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  display: flex;
  width: 50%;
    justify-content: center;
}
svg{
  width: 100px;
  height: 100px;
  margin: 20px;
  position: absolute;
}

.minutes{
    position: absolute;
    stroke: aqua;
    animation: rotate 5s infinite linear;
    transform-origin: center;
}

.hours{
    position: absolute;
    stroke: blueviolet;
    animation: rotate 10s infinite linear;
    transform-origin: center;
}

@keyframes rotate {
100% {
transform: rotate(360deg);
    }
}