body {
  position: relative;
  background-size: 100% auto;
  background-image: url("background-hw2.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}

.phone {
  position: relative;
  display: flex;
	width: 280px;
	height: 500px;
  background-color: white;
  color: ghostwhite;
  padding: 20px 15px 20px;
  border-radius: 20px; 
  margin: auto;
  box-shadow: -20px -20px 30px rgb(57, 54, 51);
  flex-direction: column;
}

.screen {
  background: url("newScreen.png") center;
  height: 100%;
  width: 280px;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-direction: column;
}
.roundBottomButton {
  width: 45px;
  height: 50px;
  background: ghostwhite;
  border-radius: 50%;
  border: 1.8px solid;
  border-color: #a2a7a2;
  margin: auto;
  box-shadow: none;  
}

.speaker{
  width: 40px;
  height: 3px;
  border: 1px solid;
  border-radius: 4px;
  background: rgb(27, 27, 29);
  box-shadow: none;
  margin-left: 16px; 
}

.topCircleBig{
  width: 7px;
  height: 7px;
  border: 1px solid;
  border-radius: 50%;
  background: rgb(27, 27, 29);
  box-shadow: none; 
}

.topCircleSmall{
  width: 5px;
  height: 5px;
  border: 1px solid;
  border-radius: 50%;
  background: rgb(27, 27, 29);
  box-shadow: none; 
}

.helpers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 12px;
}


.sideButtonLeftTop{
  position: absolute;
  width: 5px;
  height: 20px;
  border: 1px solid;
  border-radius: 4px;
  background: rgb(161, 161, 163);
  top: 63px;
  left: 0;
  transform: translate(-100%, 0);
  box-shadow: 0 0 5px rgb(27, 27, 29);
  padding: 0;
}

.sideButtonLeftMiddle{
  position: absolute;
  width: 5px;
  height: 40px;
  border: 1px solid;
  border-radius: 4px;
  background: rgb(161, 161, 163);
  top: 95px;
  left: 0px;
  box-shadow: 0 0 5px rgb(27, 27, 29);
  padding: 0;
  transform: translate(-100%, 0);
}

.sideButtonLeftBottom{
  position: absolute;
  width: 5px;
  height: 40px;
  border: 1px solid;
  border-radius: 4px;
  background: rgb(161, 161, 163);
  top: 150px;
  left: 0px;
  box-shadow: 0 0 5px rgb(27, 27, 29);
  padding: 0;
  transform: translate(-100%, 0);
}

.sideButtonRight{
  position: absolute;
  width: 5px;
  height: 40px;
  border: 1px solid;
  border-radius: 4px;
  background: rgb(224, 224, 230);
  top: 95px;
  right: 0;
  box-shadow: none;
  padding: 0;
  transform: translate(100%, 0);
}

.screenBottom {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.unlockText {
  color: black;
  font-size: large;
  margin-bottom: 5px;
  position: relative;
  top: 250px;
}

.cameraImage {
  height: 10%;
  margin: auto;
  position: relative;
  display: flex;
  top: 170px;
  left: 100%;
}

 @keyframes go-left-right {
    from {
      left: 0px;
      border: 10px solid orange;
    }
    to {
      left: calc(100% - 50px);
      border: 10px solid aqua;
    }
  }

    @-webkit-keyframes go-left-right {
    from {
      left: 0px;
      border: 10px solid orange;
    }
    to {
      left: calc(100% - 50px);
      border: 10px solid aqua;
    }
  }

  .logo {
    height: 220px;
    animation: go-left-right 3s infinite alternate;
    -webkit-animation: go-left-right 3s infinite alternate;
    position: relative;
    overflow-x: hidden;
}

.audio{
  display: none;
}

.desktop{ 
  display: flex;
  flex-direction: column;
  position: relative; 
  width: 100%; 
  background: #F2F4F7;
}

.wrapper{
display: flex;
position: relative;
width: 100%;
}

.sideBar{
  box-sizing: border-box;
  width: 232px;
  background: #FFFFFF;
  border-right: 1px solid #EAECF0;
  display: flex;
  position: relative;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px){ .sideBar { display: none; }}

.body{
  width: 100%;
  padding: 16px;
}

@media only screen
and (min-device-width : 480px)
and (max-device-width : 1580px){ .body { width: calc(100% - 232px); }}

.topBar{
  box-sizing: border-box;
  width: 100%;
  background: #FFFFFF;
  border-bottom: 1px solid #EAECF0;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.formInput{
  width: 80%;
  flex-direction: row;
  display: flex;
  }

.input{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  background: #FFFFFF;
  border: 1px solid #EAECF0;
  border-radius: 6px;
  box-sizing: border-box;
}

.text-field {
  flex-direction: row;
  display: flex;
}

/* стили для input */
.text-field__input {
  display: block;
  width: 70%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.items{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 20%;
  height: 40px;
  right: 31px;
  top: calc(50% - 40px/2 + 2px);
}

.screenCenter{
  width: 100%
}

.banner{
  width: 100%;
  max-width: 100%;
  padding: 12px 10px;
  background: #282828;
  border-radius: 16px;
  box-sizing: border-box;
  color: white;
  justify-content: space-between;
  display: flex;
}

.metrics{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  padding: 3% 0%;
}
.card1{
  width: calc(100%/4);
  background: #FFFFFF;
  border-radius: 12px;
  margin-right: 3%;
}
.card2{
  width: calc(100%/4);
  background: #FFFFFF;
  border-radius: 12px;
  margin-right: 3%;
}
.card3{
  width: calc(100%/4);
  background: #FFFFFF;
  border-radius: 12px;
  margin-right: 3%;
}
.card4{
  width: calc(100%/4);
  background: #FFFFFF;
  border-radius: 12px;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8% 10%;
  width: 100%;
}
.header{
  width: 100%;
  font-family: 'Inter';
  margin-bottom: 10px; 
}
.info{
  width: 100%;
}

.chart{
  display: flex;
  width: 100%;
  background: #FFFFFF;
  border-radius: 12px;
  margin-bottom: 5%;
  flex-direction: column;
}

.cardHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px #EAECF0 solid;
}

.axis{
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

.y{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 15px;
}

.firstChartPart{
  display: flex;
}

.x{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  padding-left: 5%;
  margin-top: -10%;
}

.table{
  border-collapse: collapse;
  width: 100%;
  background: #FFFFFF;
  border-radius: 12px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  border: 2px solid white;
  padding-left: 15px;
  padding-top: 15px;
  color: #5F6980;
  box-sizing: border-box;
}


table{
  border-collapse: collapse;
  width: 100%;
  background: #FFFFFF;
  border-radius: 12px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  border: 2px solid white;
}



td, th{
  padding: 3px; /* Поля вокруг содержимого таблицы */
  text-align: left; /* Выравнивание по левому краю */
}

tr {
  border-top: 1px solid #EAECF0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.brand{
  margin-left: 10px;
  color: #282828;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}

.icon{
  margin-left: 10px;
  margin-top: 10px;
}

